<div>
  <form>
    <div *ngIf="editTitle" class="form-group">
      <input type="input" class="form-control" name="title" required placeholder="title"
      [(ngModel)]="video.title">
    </div>
    <h3 *ngIf="!editTitle" (click)="onTitleClick()">{{video.title}}</h3>
    <div class="form-group">
      <input type="input" name="url" required placeholder="url" class="form-control"
       [(ngModel)]="video.url">
    </div>
    <div class="form-group">
      <text-area rows="5" name="desc" class="form-control"
       [(ngModel)]="video.description"></text-area>
    </div>
  </form>
</div>
